* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 70%;
  margin: auto;
}

header {
  height: 130px;
}

header .header-top {
  background-color: #418ae2;
  height: 18%;
  color: white;
}

header .header-top .flex {
  display: flex;
  justify-content: flex-end;
}

header .header-top .flex p {
  font-size: 11px;
  margin-left: 50px;
  padding-top: 3px;
}

header .header-bot {
  background-color: white;
  height: 82%;
}

header .header-bot .flex {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-bot img {
  width: 70px;
  height: auto;
  margin-right: 40px;
}

header .header-bot ul {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  list-style-type: none;
}

header .header-bot ul a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

header .header-bot ::-webkit-input-placeholder {
  float: right;
  margin-right: 30px;
  font-weight: bold;
  font-size: 16px;
  color: black;
}

header .header-bot .input-search {
  position: relative;
}

header .header-bot .input-search input {
  margin-left: 40px;
  border: none;
  border-bottom: 2px solid #418ae2;
  height: 20px;
  outline: none;
  width: 100%;
}

header .header-bot .input-search i {
  position: absolute;
  right: -40px;
  top: 4px;
  font-size: 16px;
  color: black;
}

.jumbotron {
  height: 450px;
  background-image: url("/storage/images/jumbotron.jpg");
}

.comics {
  background-color: #1C1C1C;
  color: white;
  position: relative;
}

.comics h2 {
  text-align: center;
  background-color: #418ae2;
  padding: 20px 30px;
  position: absolute;
  top: -40px;
}

.comics ul {
  list-style-type: none;
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.comics ul li {
  flex-basis: 15%;
  margin: 10px 0;
}

.comics ul li .images {
  overflow: hidden;
  height: 200px;
}

.comics ul li .images img {
  height: 300px;
  width: 100%;
}

.comics ul li p {
  margin: 30px 0;
}

.comics ul li p a {
  color: white;
  text-decoration: none;
}

.comics .btn {
  text-align: center;
  padding-bottom: 30px;
}

.comics .btn #load {
  background-color: #418ae2;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
}

.icons {
  background-color: #418ae2;
  color: white;
}

.icons ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 40px 0;
}

.icons ul li {
  margin: 0 20px;
  display: flex;
  align-items: center;
}

.icons ul li img {
  height: 60px;
  width: auto;
  margin-right: 15px;
}

.icons ul li #svg {
  height: 40px;
  width: auto;
}

.footer-top {
  height: 480px;
  background-image: url("/storage/images/footer-bg.jpg");
  background-size: cover;
}

.footer-top .dcImg {
  height: 480px;
  background-image: url("/storage/images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 620px 620px;
}

.footer-top .dcImg .lists {
  display: flex;
  justify-content: flex-start;
}

.footer-top .dcImg .lists ul {
  list-style-type: none;
  padding: 26px 0;
}

.footer-top .dcImg .lists ul li {
  margin: 5px 35px 5px 0;
}

.footer-top .dcImg .lists ul li a {
  color: grey;
  font-size: 12px;
  text-decoration: none;
}

.footer-top .dcImg .lists ul li h3 {
  margin: 20px 0;
  color: white;
}

.footer-top p {
  font-size: 12px;
  color: grey;
}

.footer-top p .blue {
  color: #418ae2;
  text-decoration: none;
}

.footer-bot {
  height: 120px;
  background-color: #323232;
}

.footer-bot .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer-bot .container button {
  color: white;
  background-color: transparent;
  font-size: 18px;
  border: 2px solid #418ae2;
  padding: 10px 15px;
  cursor: pointer;
}

.footer-bot .container .social {
  display: flex;
  align-items: center;
}

.footer-bot .container .social a {
  color: #418ae2;
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;
  margin-right: 10px;
}

.footer-bot .container .social img {
  margin: 0 10px;
}

.container-comic {
  width: 60%;
  margin: auto;
}

.title-comic {
  height: 100px;
  background-color: #418ae2;
}

.title-comic .container-comic {
  position: relative;
}

.title-comic .container-comic .img-comic {
  position: absolute;
}

.title-comic .container-comic .img-comic img {
  position: absolute;
  left: 0;
  bottom: -70px;
  z-index: 1;
  border: 1px solid white;
}

.title-comic .container-comic .img-comic #book {
  bottom: 200px;
  padding: 0 2px;
  background-color: #418ae2;
  width: 106px;
  left: 1px;
  position: absolute;
  color: white;
  z-index: 50;
}

.title-comic .container-comic .img-comic #gallery {
  position: absolute;
  color: white;
  z-index: 50;
  background-color: #418ae2;
  width: 192px;
  text-align: center;
  left: 1px;
  bottom: -69px;
}

.description-comic .container-comic {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.description-comic .container-comic .box-comic1 {
  flex-basis: 65%;
}

.description-comic .container-comic .box-comic1 .avaible-comic {
  background-color: #2dce35;
  display: flex;
  color: white;
  margin: 20px 0;
}

.description-comic .container-comic .box-comic1 .avaible-comic p:first-child {
  flex-grow: 1;
}

.description-comic .container-comic .box-comic1 .avaible-comic p:last-child {
  border-left: 1px solid black;
}

.description-comic .container-comic .box-comic1 .avaible-comic p {
  padding: 10px 20px;
}

.description-comic .container-comic .box-comic2 {
  flex-basis: 300px;
}

.description-comic .container-comic .box-comic2 h4 {
  float: right;
}

.specs {
  background-color: #f0f0f0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.specs .container-comic {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.specs .container-comic .talent-comic {
  flex-basis: 50%;
}

.specs .container-comic .talent-comic h4 {
  border-bottom: 1px solid lightgrey;
  padding: 20px 0;
}

.specs .container-comic .talent-comic .flex-comic {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-bottom: 1px solid lightgrey;
  padding: 10px 0;
}

.specs .container-comic .talent-comic .flex-comic h5 {
  flex-basis: 25%;
}

.specs .container-comic .talent-comic .flex-comic p {
  flex-basis: 75%;
  color: #418ae2;
}

.specs .container-comic .spec-comic {
  flex-basis: 40%;
}

.specs .container-comic .spec-comic h4 {
  border-bottom: 1px solid lightgrey;
  padding: 20px 0;
}

.specs .container-comic .spec-comic .flex-comic {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-bottom: 1px solid lightgrey;
  padding: 10px 0;
}

.specs .container-comic .spec-comic .flex-comic #blue {
  color: #418ae2;
  text-transform: uppercase;
}

.specs .container-comic .spec-comic .flex-comic h5 {
  flex-basis: 35%;
}

.specs .container-comic .spec-comic .flex-comic p {
  flex-basis: 65%;
}

.icon-comic {
  background-color: #f0f0f0;
}

.icon-comic .container-comic {
  color: #b4b4b4;
  display: flex;
  justify-content: space-between;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.icon-comic .container-comic .icon-box {
  border-right: 1px solid lightgrey;
  flex-basis: 25%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.icon-comic .container-comic .icon-box img {
  height: 50px;
  width: auto;
}

.icon-comic .icon-box:last-child {
  border: none;
}

